[Unit]
Description=Shutdown Chromium
DefaultDependencies=no
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
Type=oneshot
ExecStart=/bin/shutdown-chromium
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target