[Unit]
Description=Shutdown Chromium
DefaultDependencies=no
Before=shutdown.target halt.target poweroff.target reboot.target

[Service]
Type=oneshot
ExecStart=/bin/shutdown-chromium
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target halt.target poweroff.target reboot.target